// Main website colors
$background-color: #161926;
$background-color-secondary: #1E2337;
$accent-color: #FFB21C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: $background-color;
    color: white;
}


// Header
header {
    background-color: $accent-color;
    background-image: url("../assets/img/header.webp");
    background-position: center;
    background-size: cover;

    .content {
        padding-top: 100px;
        font-size: 2.5em;
        text-align: center;
    }
}


// Main website content
main {
    margin: 0 20%;
    font-size: 1.2em;

    h1 {font-size: 2em;}
}



// Custom audio player
.audio-player {
    width: 80%;
    background-color: $background-color-secondary;
    padding: 20px;
    border-radius: 10px;

    .audio-media-control {
        background-color: $accent-color;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 2em;
        padding: 10px 200px;
    }
}


// Make space inbetween sections of code
//! It's bad practise to use empty div, but in this case seems ok
//TODO: Get a more "modern" way of doing this
.space {
    &-100 {margin-top: 100px;}
    &-150 {margin-top: 150px;}
    &-200 {margin-top: 200px;}
}

// SVG waves stuff
svg {
    margin-bottom: -10px;

    path {
        fill: $background-color;
    }
}

// Place content in the middle of a element
.middle {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}